<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ancillary_web</title>
    <style>
        h1 {
            text-align: center;


        }
    </style>

</head>

<body>
    <h1> web_1 的详细信息 </h1>
    <input type="radio" name="nan">男
    <input type="checkbox">篮球
    <input type="button" value="提交">
    <!-- 普通按钮 -->
    <input type="submit" value="提交">
    <!-- 可提交表单按钮 -->
    <select>
        <!-- select中multiple属性可以多选 -->
        <option>北京</option>

    </select>
    <textarea>
        请输入内容
    </textarea>
    <table border="1">
        <thead>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>张三</td>
                <td>18</td>
                <td>男</td>
            </tr>
            <tr>
                <td>李四</td>
                <td>19</td>
                <td>女</td>
            </tr>
        </tbody>
    </table>

</body>

</html>